@import "tailwindcss";
@import "uniwind";

@theme {
  /* Manrope */
  --font-sora: "Manrope-Regular";
  --font-sora-medium: "Manrope-Medium";
  --font-sora-semibold: "Manrope-SemiBold";
  --font-sora-bold: "Manrope-Bold";

  /* Serif */
  --font-serif: "NotoSerif-Regular";
  --font-serif-italic: "NotoSerif-Italic";

  --color-muted:#C7C7C7;
  --color-bg: #141414;
  --color-card-1: #1E1D1D;
  --color-card-2: #2E2C2C

}
